
@{
    ViewData["Title"] = "Done";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

    <section class="register py-5">
        <div class="container">
            <div class="row ">
                <div class="col-12 text-center">
                    <h2>Uğurla qeydiyyatdan keçdiniz!</h2>
                </div>
            </div>
            <div class="row justify-content-center my-5">

                <div class="col-lg-8 justify-content-center " style="box-sizing:border-box; background-color: rgba(0, 95, 181, 0.10);padding:14px 24px; text-align:center;">
                    <p style="line-height:1.6;">
                        Hesabınızı aktivləşdirmək üçün qeydiyyat zamanı bildirdiyiniz email-ə göndərilən emaili oxuyub, hesabınızı aktivləşdirin.
                    </p>
                 </div>
            </div>
        </div>
    </section>

