@model Starex.ViewModels.RoleViewModel

@{
    ViewData["Title"] = "CreateRole";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="row d-flex row justify-content-center my-5">
    <div class="col-6 col-lg-6 justify-content-center  mt-5">
        <form asp-action="CreateRole">
            <h2> Yeni rol əlavə edin</h2>
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="">
                <div class="form-line">
                    <label class="control-label">Role Name</label>
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
            </div>

 
            <div class="row justify-content-center mt-5">
                <div class="col-md-6">
                    <div class="form-submit">
                        <input type="submit" value="Əlavə et" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



