
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


         <h1 style="font-size:32px" class="pb-5">
                Ölkəni seçin
            </h1>

         <div class="select-country d-flex pb-4">
             <div class="country mx-4">
                 <a href="#/us" class="countryId" data-id="1">
                     <img src="~/images/usa.7b416161.png" />
                     <p>ABŞ</p>
                 </a>
             </div>

             <div class="country mx-4">
                 <a href="#/tr" class="countryId" data-id="2">
                     <img src="~/images/turkey.png" />
                     <p>Türkiyə</p>
                 </a>
             </div>

             <div class="country china mx-4">
                 <a href="#/ch" class="countryId" data-id="3">
                     <img src="~/images/china.jpg" />
                     <p>Çin</p>
                 </a>
             </div>
         </div>

