@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
@{

    var user = await userManager.GetUserAsync(User);
    var displayName ="";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Starex</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
    <link href="~/select2/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="header_top py-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 d-none d-md-flex align-items-center">
                        <div class="socials d-flex mr-5">
                            <a class="d-flex align-items-center justify-content-center fb rounded-circle" href="https://www.facebook.com/starex.az" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="d-flex align-items-center justify-content-center ins rounded-circle" href="https://www.instagram.com/starex.az/" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>


                        <ul class="header-top-nav d-flex flex-wrap">
                            <li class="mr-3 my-1">
                                <a href="/about/">Haqqımızda</a>
                            </li>
                            <li class="mr-3 my-1">
                                <a href="/news-list/">Xəbərlər</a>
                            </li>
                            <li class="mr-3 my-1">
                                <a href="/faq/">Tez-tez verilən suallar</a>
                            </li>
                            <li class="mr-3 my-1">
                                <a href="/social-responsibility/">KSM</a>
                            </li>
                            <li class="mr-3 my-1">
                                <a href="https://corporate.starex.az/az/">Korporativ daşınmalar</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-12 d-flex flex-column align-items-md-end align-items-start justify-content-center header-top-right flex-wrap">

                        @if (signInManager.IsSignedIn(User))
                        {
                            displayName = user.Name + " " + user.Surname;
                            <div class="col-6 p-0 d-flex flex-column align-items-start">
                                <ul class="username">
                                    <li class="pt-3 d-flex align-items-end">
                                        <p>@displayName</p>
                                        <i class="fas fa-chevron-down ml-2"></i>
                                    </li>

                                    <li class="pt-3 dropdown_menu">
                                        <ul class="dropdown navigate-menu">

                                            <li><a class="scroll-item" href="/Home/Dashboard/#/address">Xaricdəki ünvanlarım</a></li>
                                            <li><a class="scroll-item" href="/Home/Dashboard/#/orders">Sifarişlərim</a></li>
                                            <li><a class="scroll-item" href="/Home/Dashboard/#/declarations">Bağlamalar/Bəyannamələr</a></li>
                                            <li><a class="scroll-item" href="/Home/Dashboard/#/couriers">Kuryer</a></li>
                                            <li><a class="scroll-item" href="/Home/Dashboard/#/balance">Balans</a></li>
                                            <li><a class="scroll-item" href="/Home/Dashboard/#/tickets">Müraciətlər</a></li>
                                            <li><a asp-controller="Account"  asp-action="Settings" asp-route-id="@user.Id">Tənzimləmələr</a></li>
                                            <li><a href="/Account/LogOut/" id="logout-link">Çıxış</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        }

                        else
                        {
                            <ul class="d-flex align-items-center pr-lg-3 login-menu py-3">
                                <li class="px-lg-3 pr-3 pr-lg-0">
                                    <a href="/Account/Login">Şəxsi Kabinet</a>
                                </li>
                                <li class="px-lg-3 pl-3 pl-lg-0 border-left">
                                    <a href="/Account/Register">Qeydiyyat</a>
                                </li>
                            </ul>
                        }



                    </div>
                </div>
            </div>
        </div>


        <div class="header_middle py-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12 d-flex align-items-center justify-content-center justify-content-lg-start">
                        <a href="/Home/Index">
                            <img src="~/images/starex-logo.jpg" alt="">
                        </a>
                        <div class="intro ml-5 d-none d-xl-block"></div>
                    </div>
                    <div class="col-lg-6 col-12 contacts d-none d-md-flex justify-content-center justify-content-lg-end align-items-center mt-3 mt-lg-0">
                        <div class="position-relative ml-5 pl-5">
                            <i class="far fa-clock"></i><strong>İş saatlarımız:</strong><span>
                                B.e.-Ş.<br>
                                10:00-19:00
                            </span>
                        </div>
                        <div class="position-relative ml-5 pl-5">
                            <i class="fas fa-map-marker-alt"></i>
                            <strong>Ünvan</strong><span>Atatürk prospekti 4A<br></span>
                        </div>
                        <div class="position-relative ml-5 pl-5">
                            <i class="icons fas fa-phone-volume"></i><strong>Əlaqə</strong><span>
                                B.e.-Ş.<br>
                                10:00-18:30<br>
                                (012) 310 0825
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header_bottom">

            <div class="container">
                <div class="row d-flex  justify-content-between align-items-center ">

                    <div class="menu-nav col-12 col-lg-10 order-lg-1 order-3 ">
                        <ul class="d-lg-flex py-1 d-none">
                            <li>
                                <a href="/Home/Tariff">Tariflər</a>
                            </li>
                            <li>
                                <a href="/Home/Tranportation">Daşıma şərtləri</a>
                            </li>
                            <li>
                                <a href="/Home/Shop">Mağazalar</a>
                            </li>
                            <li>
                                <a href="#">Xidmətlər</a>
                            </li>
                            <li>
                                <a href="#">Sual-cavab</a>
                            </li>
                            <li>
                                <a href="#">Xəbərlər</a>
                            </li>
                            <li>
                                <a href="https://corporate.starex.az/az/">Korporativ</a>
                            </li>
                            <li>
                                <a href="/Home/Contact">Əlaqə</a>
                            </li>
                        </ul>
                    </div>

                    <div class="burger-menu p-3 d-lg-none col-6 d-flex justify-content-end order-2">
                        <div>
                            <div class="bar1"></div>
                            <div class="invis"></div>
                            <div class="bar3"></div>
                        </div>

                    </div>

                    @if (signInManager.IsSignedIn(User)) {
                        <div class="notify-menu flex-lg-end d-flex align-items-center col-6 col-lg-2 order-lg-3 order-1">
                            <a href=""><i class="fas fa-plus"></i></a>
                            <a href=""><i class="fas fa-newspaper ml-3"></i></a>
                            <a href=""><i class="fas fa-bell ml-3"></i></a>
                        </div>

                    }
                </div>

            </div>
            </div>

</header>

    @RenderBody()


    <div class="footer-top py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-12 d-flex align-items-center align-items-md-start flex-column">
                    <div class="footer-logo">
                        <a href="">
                            <img src="~/images/footer-logo.png" alt="">
                        </a>
                    </div>
                    <p></p>
                </div>
                <div class="col-lg-3 col-md-6 col-12 d-flex align-items-center align-items-md-start flex-column order-2 order-lg-5 mt-5 mt-md-0">
                    <a target="_blank" href="https://itunes.apple.com/az/app/starex-kargo/id1459518540?mt=8"><img src="~/images/ios-app-link.png" alt="ios app"></a>
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=pro.appify.starex&amp;hl=en"><img src="~/images/android-app-link.png" alt="android app"></a>
                </div>
                <div class="col-lg-3 col-md-4 col-12 d-none d-md-block">

                    <ul>
                        <li>
                            <a href="/about/">Haqqımızda</a>
                        </li>
                        <li>
                            <a href="/tariffs/">Tariflər</a>
                        </li>
                        <li>
                            <a href="/pages/transportation-terms/">Daşıma şərtləri</a>
                        </li>
                        <li>
                            <a href="/shops/">Mağazalar</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 col-12 d-none d-md-block">
                    <ul>
                        <li>
                            <a href="/pages/services/">Xidmətlər</a>
                        </li>
                        <li>
                            <a href="/faq/">Sual-cavab</a>
                        </li>
                        <li>
                            <a href="/news-list">Xəbərlər</a>
                        </li>
                        <li>
                            <a href="/contact/">Əlaqə</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom py-3">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex align-items-center flex-column flex-md-row">
                    <p class="mb-4 mb-md-0">© 2020 Starex MMC | Bütün Hüquqlar Qorunur</p>
                    <img src="~/images/1543498815_1022246_card.png" alt="" class="img-fluid ml-0 ml-md-auto">
                </div>
            </div>
        </div>
    </div>


    <script src="https://kit.fontawesome.com/4d10e62fd0.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/select2.single.init.js"></script>
    <script src="~/select2/js/select2.min.js"></script>
    <script src="~/js/script.js"></script>
</body>

</html>