@model IEnumerable<Starex.Models.Notification>

<div class="table-responsive resizable-table">
    <table class="table table-bordered w-100 m-0">
        <thead class="w-100">
            <tr>
                <th scope="col">Tarix</th>
                <th scope="col">Qeyd</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr scope="row">

                    <td> @Html.DisplayFor(modelItem => item.Date)</td>
                    <td> @Html.DisplayFor(modelItem => item.Message)</td>

                </tr>
            }

            <tr>

                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>

            </tr>
            <tr>

                <td></td>
                <td></td>
            </tr>
            <tr>

                <td></td>
                <td></td>
            </tr>
            <tr>

                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>