
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<section class="shops transport">
    <div class="transport-bcg">
        <div class="container py-5 d-flex align-items-center justify-content-center">
            <div class="row">
                <div class="col-12">
                    <h1>Mağazalar</h1>
                    <div class="py-3 d-flex align-items-center justify-content-center">
                        <a href="index.html">Əsas</a> / Mağazalar
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shop-contents tabs-country py-5">

        <div class="container">
            <div class="tabs">
                <ul class="d-flex mx-3 py-3">
                    <li class="p-2">
                        <img src="~/images/USa.png" alt="">
                        <p>United States</p>
                    </li>
                    <li class="px-4 active-li">
                        <img src="~/images/Turk.png" alt="">
                        <p>Turkey</p>
                    </li>
                    <li class="px-4">
                        <img src="~/images/chin.png" alt="">
                        <p>China</p>
                    </li>
                </ul>
            </div>

            <div class=" shop-content tabs-content  py-3">
                <div class="row d-none">
                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Victory_Secret.jpg" alt="">
                                </div>
                                <p>Victoria Secrets</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Victory_Secret.jpg" alt="">
                                </div>
                                <p>Victoria Secrets</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Victory_Secret.jpg" alt="">
                                </div>
                                <p>Victoria Secrets</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Victory_Secret.jpg" alt="">
                                </div>
                                <p>Victoria Secrets</p>
                            </a>
                        </div>
                    </div>

                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Victory_Secret.jpg" alt="">
                                </div>
                                <p>Victoria Secrets</p>
                            </a>
                        </div>
                    </div> <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Victory_Secret.jpg" alt="">
                                </div>
                                <p>Victoria Secrets</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Victory_Secret.jpg" alt="">
                                </div>
                                <p>Victoria Secrets</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Victory_Secret.jpg" alt="">
                                </div>
                                <p>Victoria Secrets</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Victory_Secret.jpg" alt="">
                                </div>
                                <p>Victoria Secrets</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Victory_Secret.jpg" alt="">
                                </div>
                                <p>Victoria Secrets</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Victory_Secret.jpg" alt="">
                                </div>
                                <p>Victoria Secrets</p>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="row ">
                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Mavi.png" alt="">
                                </div>
                                <p>Endirim olan Türk saytları</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Mavi.png" alt="">
                                </div>
                                <p>Endirim olan Türk saytları</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Mavi.png" alt="">
                                </div>
                                <p>Endirim olan Türk saytları</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Mavi.png" alt="">
                                </div>
                                <p>Endirim olan Türk saytları</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Mavi.png" alt="">
                                </div>
                                <p>Endirim olan Türk saytları</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Mavi.png" alt="">
                                </div>
                                <p>Endirim olan Türk saytları</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Mavi.png" alt="">
                                </div>
                                <p>Endirim olan Türk saytları</p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row d-none">
                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Boutiquefeel1.png" alt="">
                                </div>
                                <p>Boutiquefeel</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Boutiquefeel1.png" alt="">
                                </div>
                                <p>Boutiquefeel</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Boutiquefeel1.png" alt="">
                                </div>
                                <p>Boutiquefeel</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Boutiquefeel1.png" alt="">
                                </div>
                                <p>Boutiquefeel</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Boutiquefeel1.png" alt="">
                                </div>
                                <p>Boutiquefeel</p>
                            </a>
                        </div>
                    </div>    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Boutiquefeel1.png" alt="">
                                </div>
                                <p>Boutiquefeel</p>
                            </a>
                        </div>
                    </div>    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Boutiquefeel1.png" alt="">
                                </div>
                                <p>Boutiquefeel</p>
                            </a>
                        </div>
                    </div>    <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                        <div class="shop-links d-flex flex-column align-items-center justify-content-center">
                            <a href="https://starex.az/news/turk-saytlarinda-boyuk-endirim-var1585820100-377642/" target="_blank" class="store-item my-3">
                                <div>
                                    <img src="~/images/Boutiquefeel1.png" alt="">
                                </div>
                                <p>Boutiquefeel</p>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
