
@{
    ViewData["Title"] = "Tranportation";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

    <section class="transport">
        <div class="transport-bcg">
            <div class="container py-5 d-flex align-items-center justify-content-center">
                <div class="row">
                    <div class="col-12">
                        <h1>Daşıma şərtləri</h1>
                        <div class="py-3 d-flex align-items-center justify-content-center">
                            <a href="index.html">Əsas</a> / Daşınma şərtləri
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="transport-rules py-5">
            <div class="container">
                <div class="row flex-lg-row flex-column-reverse">
                    <div class="col-lg-9">
                        <p>
                            “Starex” MMC göstərdiyi vasitəçilik xidməti çərçivəsində heç bir halda satıcı firmanın göndərdiyi məhsulun
                            keyfiyyətinə, tamlığına, tərkibinə, ölçü və formasına, satış anbarında tükənməsinə, vaxtında çatdırılmasına görə
                            məsuliyyət daşımır. Sifarişiniz mağaza tərəfindən yanlış, yararsız və zədələnmiş şəkildə göndərilərsə, geri qaytarma
                            xidmətimizdən istifadə edə bilərsiniz. <strong>
                                *Bağlamanız Bakı ofisimizə daxil olduqdan sonra 48 saat ərzində təhvil
                                alınaraq yerindəcə yoxlanılmalıdır. *Sifarişlər çəkiyə uyğun tariflərlə geri qaytarılır.
                            </strong>
                        </p>

                        <p> <strong>(Qeyd: Mövcud vəziyyətlə əlaqədar olaraq "Geri qaytarma" xidmətimiz qeyri-müəyyən vaxta qədər aktiv deyildir.)</strong></p>
                        <p>Xarici anbarımıza daxil olmuş bağlama xarici anbarımızdan birbaşa mağazaya iade edilmir.</p>

                        <p>
                            Müştəri Türkiyədən həm "Həvalə et" xidmətimizlə, həm də "Xarici ünvanlarımız" bölməsindən istifadə etməklə öz kartı ilə birbaşa mağazadan sifariş edə bilər.
                            Müştəri Amerikadan yalnız "Xarici ünvanlarımız" bölməsindən istifadə etməklə öz kartı ilə birbaşa mağazadan sifariş edə bilər.
                        </p>

                        <p>
                            Sifarişlə bağlı məlumat almaq üçün sifariş təsdiqləndiyi tarixdən etibarən 1 ay ərzində sorğu yaradılmalıdır. Daha
                            sonra yaradılan sorğular etibarsız sayılaraq araşdırılmayacaqdır.
                        </p>

                        <p>Məhsullar daşıyıcı tərəfindən sığortalanmır və daşıyıcı buna görə heç bir məsuliyyət daşımır.</p>

                        <p>
                            “Starex” MMC qəbul olunmuş sifarişləri növbəlilik əsasında həyata keçirir və həftə içi 24 saat ərzində sifarişlərin
                            yerləşdirməsinə zəmanət verir. Bununla belə sifariş prosesində hər hansı problem yarandıqda (məhsulun bitməsi,
                            sifariş olunan ölçünün və ya rəngin bitməsi, kampaniyanın başa çatması, ödəmə problemi və s.) istifadəçinin ödədiyi
                            məbləğ istifadəçinin balansına geri qaytarılır. Qeyd edək ki, endirimlərlə əlaqədar olaraq bəzən bu müddət uzana
                            bilər.
                        </p>
                    </div>
                    <div class="col-lg-3 mb-5">
                        <div class="aside-nav">
                            <div class="aside-nav-head">
                                ŞİRKƏT HAQQINDA
                            </div>

                            <ul>
                                <li>
                                    <a href="#">Haqqımızda</a>
                                </li>
                                <li>
                                    <a href="tariffs.html">Tariflər</a>
                                </li>
                                <li>
                                    <a href="#">Xidmətlər</a>
                                </li>
                                <li>
                                    <a href="#">Xəbərlər</a>
                                </li>
                                <li>
                                    <a href="#">Mağazalar</a>
                                </li>

                                <li>
                                    <a href="#">Tez-tez verilən suallar</a>
                                </li>
                                <li>
                                    <a href="contact.html">Əlaqə</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
